{% set min_chars = config.get('plugins.simplesearch.min_query_length', 3) %}
<div class="search-wrapper">
    <form name="search" onSubmit="return validateSearch(event);">
        <input
            name="searchfield"
            class="search-input"
            type="text"
            pattern=".{ {{- min_chars -}} ,}"
            required
            oninvalid="this.setCustomValidity('{{ "PLUGIN_SIMPLESEARCH.SEARCH_FIELD_MINIUMUM_CHARACTERS"|t(min_chars)|raw }}')" onchange="try{setCustomValidity('')}catch(e){}"
            placeholder="{{"PLUGIN_SIMPLESEARCH.SEARCH_PLACEHOLDER"|t}}"
            value="{{ query }}"
            data-search-input="{{ base_url }}{{ config.plugins.simplesearch.route == '@self' ? '' : (config.plugins.simplesearch.route == '/' ? '' : config.plugins.simplesearch.route) }}/query"
        />
        {% if config.plugins.simplesearch.display_button %}
            <button type="submit" class="search-submit">
                <img src="{{ url('plugin://simplesearch/assets/search.svg') }}" />
            </button>
        {% endif %}
    </form>
    <script>
    function validateSearch(event) {
        var input = document.forms["search"]["searchfield"];
        var target = input.getAttribute('data-search-input');
        if (input.value.length >= {{ min_chars }}) {
            event.preventDefault();
            window.location.href = target + '{{ config.system.param_sep }}' + input.value;
        } else {
            event.preventDefault();
        }
    }
    </script>
</div>
